body {
  font-size: 20px;
}

.hide {
  display: none;
}

button {
  margin: 20px;
  height: 30px;
  width: 90px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  background-color: purple;
  color: white;
}

button:hover {
  opacity: 0.8;
}
